# Data Questions

In [0]:
# to_randomly_generated_account column I have assumed this is the Purchase type as we see types of purchases an account can make (Bar, Pub, Restuarant etc) For this reason for overall analysis we would include these purchases for totals
# However this does not offer any granulariry on the types of purchases. To investigate this we may need to remove these enteries
# We need to consider how we clean this column to as we have data that is the same but altered by an 'a' before the word or the same word plural. Furthemore if we are grouping types of shopes together or individually

# Query the whole table

In [0]:
%sql
SELECT
  *
FROM
  lloyds_raw_data_table

# General Calculations

In [0]:
%sql
-- Top 10 Accounts by purchase amount
SELECT
  account_id,
  ROUND(SUM(purchase_amount), 2) AS tot
FROM
  lloyds_raw_data_table
GROUP BY
  account_id
ORDER BY
  tot DESC
LIMIT
  10;

In [0]:
%sql
-- Top 1 Accounts purchasing habits
SELECT
  account_id,
  purchase_type,
  ROUND(SUM(purchase_amount), 2) tot
FROM
  lloyds_raw_data_table
WHERE
  account_id = 17398
GROUP BY
  account_id,
  purchase_type
ORDER BY
  tot DESC

In [0]:
%sql
-- Lowest 10 Accounts by purchase amount
SELECT
  account_id,
  ROUND(SUM(purchase_amount), 2) AS tot
FROM
  lloyds_raw_data_table
GROUP BY
  account_id
ORDER BY
  tot 
LIMIT 10;

In [0]:
%sql
-- Bottom 1 Accounts purchasing habits
SELECT
  account_id,
  purchase_type,
  ROUND(SUM(purchase_amount), 2) tot
FROM
  lloyds_raw_data_table
WHERE
  account_id = 25652
GROUP BY
  account_id,
  purchase_type
ORDER BY
  tot DESC

In [0]:
# Any correlation between top 10 and bottom 10? 
# Can't do much analysis on income due to possibility of an individual having multiple other accounts elsewhere with this account being used as primary in some instances and secondary in others

In [0]:
%sql
-- Average Purchase Amount
SELECT
  ROUND(AVG(purchase_amount), 2)
FROM
  lloyds_raw_data_table

In [0]:
%sql
-- Average Purchase Amount by top 10
SELECT
  account_id,
  ROUND(AVG(purchase_amount), 2) tot
FROM
  lloyds_raw_data_table
WHERE
  account_id IN (
  SELECT
    account_id
  FROM
    lloyds_raw_data_table
  GROUP BY
    account_id
  ORDER BY
    ROUND(SUM(purchase_amount), 2) DESC
  LIMIT 10
  )
GROUP BY
  account_id
ORDER BY
  tot DESC

In [0]:
%sql
-- Average Purchase Amount by bottom 10
SELECT
  account_id,
  ROUND(AVG(purchase_amount), 2) tot
FROM
  lloyds_raw_data_table
WHERE
  account_id IN (
  SELECT
    account_id
  FROM
    lloyds_raw_data_table
  GROUP BY
    account_id
  ORDER BY
    ROUND(SUM(purchase_amount), 2)
  LIMIT 10
  )
GROUP BY
  account_id
ORDER BY
  tot DESC

In [0]:
%sql
-- Frequency of purchase type, see the most common purchases amongst the ds, spot a pattern?
SELECT
  purchase_type,
  COUNT(purchase_type) AS freq
FROM
  lloyds_raw_data_table
GROUP BY
  purchase_type
ORDER BY
  freq DESC
LIMIT 10

# Account ID invest

In [0]:
%sql
SELECT
  COUNT(DISTINCT account_id)
FROM
  lloyds_raw_data_table

# Purchase type invest

In [0]:
%sql
SELECT
  DISTINCT
  purchase_type
FROM
  lloyds_raw_data_table
WHERE 
  purchase_type NOT REGEXP '[1-9]'
ORDER BY
  purchase_type
-- Excludes all numerical values

In [0]:
%sql
SELECT
  DISTINCT
  purchase_type
FROM
  lloyds_raw_data_table
WHERE
  purchase_type NOT REGEXP '[1-9]'
  AND purchase_type REGEXP 'cafe|coffee|supermarket'
-- Query exports the similar terms in the data so we can see how we can best group them